# ---------------------------------
# Dependency
# ---------------------------------
node_modules

# ---------------------------------
# Build output
# ---------------------------------
dist
build
coverage

# ---------------------------------
# Framework build folders
# ---------------------------------
.next
.nuxt
.svelte-kit

# ---------------------------------
# Cache
# ---------------------------------
.cache
.parcel-cache

# ---------------------------------
# Logs
# ---------------------------------
*.log

# ---------------------------------
# OS files
# ---------------------------------
.DS_Store